*{
	box-sizing: border-box;
}

html{
	position: relative;
}
.top_triangle{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 55%;
    height: 665px;
	background: url(triangle.cee26124.svg) 0% 0% / contain no-repeat;
	z-index: -100;
	max-width: 1000px;
}

.inner{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.inner ul{
	margin: 25px 0 0 20px;
	padding: 0;
}

.inner li,
.inner a{
	display: inline-block;
	margin-right: 14px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: aliceblue;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	transition: color 1s;
}

.inner a:hover{
	color: aqua;
}

.logo img{
	width: 150px;
	height: 150px;
}

.logo{
	margin: 20px 6% 0 0;
}

form{
	margin-top: 100px;

}

fieldset{
	border-color: #00B4D8;
}

.fs{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	width: 500px;

}

.legend{
	color: #00B4D8;
}

.field{
	display: flex;
	width: 600px;
	justify-content: center;
	align-content: flex-start;
	margin: 0 auto;
}



.status{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

select {
	/* for Firefox */
	-moz-appearance: none;
	/* for Chrome */
	-webkit-appearance: none;
}

.date{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.status select,
.date input{
	height: 21px;
}
.choose{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	font-size: 13px;
}

.comments textarea{
	width: 500px;
}

.choose div{width: auto;}

.choose p{
	font-size: 10px;
	margin-top: 5px ;
	margin-bottom: 0;
}

.choose input{
	margin: 1px;
}

.check{
	display: flex;
	justify-content: center;
}



.checks input{
	width: auto;
}

.checks *{
	display: inline-block;
}

.st_width,
.st_width *{
	width: 500px;
	margin-bottom: 5px;
}

.st_width label{
	width: auto;
	margin-bottom: 5px;
}

.half_width,
.half_width *{
	width: 250px;
}

.half_width label{
	width: auto;
}

.choose input{
	width: auto;
}

.checks *{
	font-size: small;
}

.checks{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#submit{
	width: auto;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
	background-color:#89ebff;
	color: white;
	border-radius: 10%;
	border: none;
	transition: background-color 0.5s;

}

#submit:hover{
	background-color: #00B4D8;;
}

footer{
	position: absolute;
	width: 100%;
	margin-top: 30px;
	bottom: -150px;
	left: 0px;
}

footer .inner{
	display: flex;
	justify-content: flex-end;
	width: 100%;
	background-color: #00B4D8;
	padding: 20px 0;
}

#Message{
	margin-top: 10px;

}

#copyright{
	font-size: 20px;
	color: aliceblue;
	font-weight: bold;
	margin-right: 20px;
}

.oneline{
	display: flex;
	width: 240px;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items:baseline;
	margin-bottom: 10px;

}
.oneline input{
	width: 240px;
}
